# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Python
__pycache__/
*.pyc
.env
venv/
backend/__pycache__/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Logs
*.log
npm-debug.log*
